.container header {
  background-color: white;
  min-height: 70px;
  padding: 10px 0;
}
.name_container {
  margin-left: 20px;
  width: 65%;
}
.name {
  font-weight: bold;
  font-size: 28px;
  color: black;
}
.buttonsContainer {
  text-align: right;
  width: 37%;
}

.languageContainer {
  display: flex;
  justify-content: end;
  width: 8%;
}
.loadingContainer {
  display: flex;
  justify-content: center;
}
.name span {
  color: var(--main-color);
}

.name_descr {
  color: black;
  font-size: 14px;
}
.language {
  height: 37px;
}
.container button {
  text-transform: capitalize;
}
.loginMyaccountButtons a {
  margin: 0 5px;
}
.mobileScreen {
  display: none;
}
@media (max-width: 748px) {
  .mobileScreen {
    display: block;
  }
  .loginMyaccountButtons {
    display: none;
  }
  .name_container {
    width: 30%;
  }
  .mobileScreen svg {
    width: 35px;
    height: 35px;
    margin: 0 7px;
  }
  .name_container {
    margin-left: 10px;
  }
  .toolbar {
    padding: 0 7px;
  }
  .languageContainer {
    width: 27%;
  }
}
@media (max-width: 870px) and (min-width: 748px) {
  .name_container {
    width: 46%;
  }
}
