.container {
  padding: 30px 20px;
  border-radius: 4px;
  background-color: var(--grey-color);
  margin: 10px 0;
  cursor: pointer;
}
.container span {
  margin: 5px 0;
  padding: 5px 0;
}
.selected {
  border: 2px solid var(--main-color);
}
.subtitles {
  display: inline-block;
}
.btns {
  color: var(--main-color);
  margin: 5px 0;
  cursor: pointer;
}
.btns:hover {
  color: #edecec;
}
.active {
  color: #edecec;
}
.mobileButtons {
  display: none;
}
.geolocation {
  display: inline-flex;
  max-width: 335px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: var(--main-color);
  text-decoration: underline;
}
.address {
  overflow: hidden;
}
.buttonsContainer {
  position: relative;
}
.hideToMobile {
  position: absolute;
  background-color: #c2bfbf;
  width: 80%;
  padding: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: 900px) {
  .hideToMobile {
    display: none;
  }
  .displayFlex {
    display: flex;
  }
  .mobileButtons {
    margin-top: 20px;
    font-size: 19px;
    display: flex;
    justify-content: space-around;
    color: var(--main-color);
  }
  .subtitles {
    margin-right: 0;
  }
  .btns {
    font-size: 17px;
  }

  .geolocation {
    max-width: 260px;
  }
}
