.container {
  padding: 4px 20px 20px 20px;
  min-width: 200px;
  border-radius: 4px;
  background-color: var(--grey-color);
  margin: 10px 0;
  cursor: pointer;
}

.subtitles {
  display: inline-block;
  padding-right: 20px;
  margin-right: 20px;
  min-width: 190px;
}
.btns {
  color: var(--main-color);
  cursor: pointer;
}
.btns:hover {
  color: white;
}
.mobileButtons {
  display: none;
}
.geolocation {
  overflow: hidden;
  color: var(--main-color);
  text-decoration: underline;
}
.address {
  overflow: hidden;
}

@media (max-width: 600px) {
  .hideToMobile {
    display: none;
  }
  .displayFlex {
    display: flex;
  }
  .mobileButtons {
    margin-top: 20px;
    font-size: 19px;
    display: flex;
    color: var(--main-color);
  }
  .subtitles {
    margin-right: 0;
  }
  .btns {
    font-size: 17px;
  }
}
