.container {
  width: 100%;
  background-color: var(--test-color);
  flex-shrink: 0;
}
.social_media {
  padding: 10px;
  display: flex;

  justify-content: center;
}
.social_media svg {
  height: 35px;
  width: 35px;
}
.returnContainer {
  padding: 10px 10px 0 10px;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  text-align: center;
}
.returnLink {
  cursor: pointer;
  color: #1976d2;
}
