.container {
  padding: 20px;
  margin: 40px;
}
.container h1 {
  font-size: 4rem;
}
.subtitle {
  margin: 10px;
  line-height: 1.5em;
}
.blocks {
  display: flex;
  align-items: center;
  font-size: 20px;
  margin: 10px 0 40px 0;
}
.button {
  margin-top: 20px;
}
.button button {
  width: 245px;
}
.button svg {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.blockLogin {
  display: flex;
  align-items: center;
  font-size: 20px;
  margin-top: 65px;
  cursor: pointer;
}
.blocks svg {
  height: 55px;
  width: 55px;
}
.list {
  margin-left: 10px;
}
.list ul {
  margin-top: 15px;
  margin-left: 15px;
}
.list li {
  margin-left: 15px;
  line-height: 1.5em;
}
.imageDescr {
  display: flex;
  justify-content: flex-end;
}
.infoBlock {
  margin-top: 20px;
}
.borderContainer {
  border-right: 2px solid black;
}
.waterDescription {
  margin: 10px;
  display: flex;
  line-height: 2em;
}
.depositDescription {
  margin: 10px;
  line-height: 2em;
  font-size: larger;
}
.depositDescription span {
  font-weight: bold;
  font-size: larger;
  display: block;
  margin-top: 1em;
}
.colorText {
  color: #1976d2;
  text-align: center;
}
@media (max-width: 768px) {
  .container {
    padding: 10px;
    margin: 30px;
  }
  .container h1 {
    font-size: 2rem;
  }
  .subtitle {
    font-size: 15px;
  }
  .list {
    font-size: 15px;
  }
  .waterDescription {
    font-size: 15px;
  }
  .blockLogin {
    margin-top: 30px;
  }
}
@media (max-width: 640px) {
  .container h1 {
    font-size: 27px;
  }
  .waterDescription {
    display: block;
  }
  .borderContainer {
    border-right: none;
    border-bottom: 2px solid black;
  }
}
